
<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>Wallet Backup | Bitaccess.co</title>
  <meta name="description" content="Bitaccess Paper Wallet Backup">
  <meta name="keywords" content="Bitaccess Paper Wallet Backup">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/backup_assets/img/apple-touch-icon.jpg">
  <link rel="apple-touch-icon" sizes="72x72" href="/backup_assets/img/apple-touch-icon-72x72.jpg">
  <link rel="apple-touch-icon" sizes="114x114" href="/backup_assets/img/apple-touch-icon-114x114.jpg">
  <link rel="stylesheet" type="text/css" href="/backup_assets/css/custom-animations.css" />
  <link rel="stylesheet" type="text/css" href="/backup_assets/css/lib/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/backup_assets/css/style.css" />

  <!--[if lt IE 9]>
    <script src="/backup_assets/js/html5shiv.js"></script>
    <script src="/backup_assets/js/respond.min.js"></script>
  <![endif]-->
</head>

<body id="landing-page" class="landing-page">
  <!-- Preloader -->
  <div class="preloader-mask">
    <div class="preloader"><div class="spin base_clr_brd"><div class="clip left"><div class="circle"></div></div><div class="gap"><div class="circle"></div></div><div class="clip right"><div class="circle"></div></div></div></div>
  </div>

  <!-- Header -->
  <header>
    <nav class="navigation navigation-header">
      <div class="container">
        <div class="navigation-brand">
          <div class="brand-logo">
            <a href="./" class="logo"></a><a href="./" class="logo logo-alt"></a>
          </div>



        </div>
      </div>
    </nav>
  </header>


  <div id="hero" class="static-header window-height light-text hero-section clickthrough-version clearfix">
    <div class="overlay"></div>
    <div class="heading-block align-center centered-block">
      <div class="container">

        <div class="animated" data-animation="fadeIn" data-duartion="500">
          <h2>Import your <span class="highlight">Paper Wallet</span> into your <span class="highlight">Mobile Wallet</span></h2>
          <p class="sub-title">Paper wallets can receive Bitcoin, but not send. They are for temporary storage only.<br>Bitaccess cannot recover lost paper wallets. Please import into a digital wallet as soon as possible.</p>
        </div>
        <div class="col-md-6">
          <div class="animated  float-right" data-animation="fadeInUp" data-duartion="500" data-delay="200">
            <div class="android-logo"></div>
            <a href="android" class="btn btn-outline ">Android</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="animated float-left" data-animation="fadeInUp" data-duartion="500" data-delay="200">
            <div class="apple-logo"></div>
            <a href="iphone" class="btn btn-outline ">iPhone</a>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="animated top-margin" data-animation="fadeIn" data-duartion="500">
          <h4>or</h4>
          <h6>Send your paper wallet balance directly to your existing Bitcoin wallet address<br/><br/><a class="btn btn-outline" target="_blank" href="http://transfer.bitaccess.co">Get Started</a></h6>
        </div>
      </div>
    </div>
  </div>



  <!--[if lt IE 9]>
    <script type="text/javascript" src="/backup_assets/js/jquery-1.11.3.min.js?ver=1"></script>
  <![endif]-->
  <!--[if (gte IE 9) | (!IE)]><!-->
    <script type="text/javascript" src="/backup_assets/js/jquery-2.1.4.min.js?ver=1"></script>
  <!--<![endif]-->

  <script type="text/javascript" src="/backup_assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/backup_assets/js/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="/backup_assets/js/jquery.appear.js"></script>
  <script type="text/javascript" src="/backup_assets/js/jquery.plugin.js"></script>
  <script type="text/javascript" src="/backup_assets/js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/backup_assets/js/startuply.js"></script>
</body>
</html>
