<!DOCTYPE html>
<html>
  <head>
    <title>BitAccess Bitcoins</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css'>
    <!-- <link rel='stylesheet' href='/stylesheets/app.min.css'> -->
    <link rel='stylesheet' href='/stylesheets/base.css'>
    <link rel='stylesheet' href='/stylesheets/app.css'>
    <!-- <link rel='stylesheet' href='/stylesheets/default.css'> -->
    <link rel='stylesheet' href='/stylesheets/style.css'>
    </script>
  </head>

  <body>
    <div class='app-page' data-page='start'>
      <div class='app-topbar'>
        <div class='app-title'>{{ __("Send Your Bitcoins") }}</div>
      </div>
      <div class='app-content start-page'>
        <div class='app-section start-page'>
          <img class='sms' src='/images/logo.png'>
        </div>    
        <div class='app-section start-page'>
          {{ __("Send your paper wallet balance directly to a wallet that doesn’t support paper wallet imports. This tool sweeps the private key and sends the balance to a single Bitcoin address of your choice.") }}
        </div>
        <div class='app-section start-page'>
          <p> {{ __("Please note:") }} </p>
          <ul>
            <li> {{ __("NEVER use this tool to send Bitcoin to an address you do not control.") }} </li>
            <li> </li>
            <li> {{ __("The full balance will be removed from the paper wallet. It is not possible to send partial amounts.") }} </li>
            <li> </li>
            <li> {{ __("DO NOT use this tool if you do not trust the source. Make sure you see a green ‘lock’ in your browser and that you’re reading this on https://transfer.bitaccess.co.") }} </li>
            <li> </li>
            <li> {{ __("This site will ask for your paper wallet private key to send the funds.") }} </li>
            <li> </li>
            <li> {{ __("We do not transmit, store, or save your private key.") }} </li>
          </ul>
        </div>
        <div class='app-section start-page'>
          {{ __("This service is provided with ABSOLUTELY NO WARRANTY and BitAccess IS NOT RESPONSIBLE FOR ANY LOST FUNDS. Once Bitcoin is sent, there is absolutely no way to reverse the transaction. Use this tool at your own risk.") }}
        </div>
        <div class='app-section start-page'>
          <div id='buy' class='app-button btac-orange next'>{{ __("SEND YOUR BITCOINS") }}</div>
        </div>
      </div>
    </div>

    <div class='app-page' data-page='private-key'>
      <div class='app-topbar'>
        <div class='app-title'>{{ __("Enter Your Private Key") }}</div>
      </div>
      <div class='app-content'>
        <div class='app-section'>
          <div class='instructions'>
            {{ __("Please enter your Bitcoin Private Key.") }}
            <span class='help'>{{ __("What's this?") }}</span>
          </div>
          <div class='instructions-scan'>
            {{ __("Or hit SCAN QR CODE to scan your key.") }}
          </div>
          <!-- <div class='instructions-photo'> -->
          <!--   {{ __("Or hit TAKE PHOTO to use a photo.") }} -->
          <!-- </div> -->
        </div>
        <div class='app-section'>
          <div id="video" style="width:300px;height:250px"></div>
        </div>
        <div class='app-section'>
          <div id='scan' class='app-button btac-orange next'>{{ __("SCAN QR CODE") }}</div>
        </div>
        <!-- <div class='app-section'> -->
        <!--   <input class='photo' id='id-front-input' type='file' capture='camera' accept='image/*'> -->
        <!--   <div id='photo' class='app-button btac-orange next'>{{ __("TAKE PHOTO") }}</div> -->
        <!-- </div> -->
        <div class='app-section'>
          <input id='private-key-input' class='app-input private-key underline' type='text' autofocus placeholder='L3tH1siSwhA7aPR1vAt3k3YLoOkSL1K3i7coN7A1nSyoURMoNi3S'>
        </div>
        <div class='app-section not-a-private-key'>
          <div>{{ __("You have scanned/entered something that is not a PRIVATE key. If you are scanning a paper wallet, make sure you scan the QR code of the PRIVATE key.") }}</div>
        </div>
        <div class='app-section address'>
          <div>{{ __("Address") }}:&nbsp;<span id='address'></span></div>
        </div>
        <div class='app-section balance'>
          <div class='btc-amount'>{{ __("Pending") }}:&nbsp;<span id='unspent-unconfirmed'>?</span>&nbsp;BTC</div>
          <div class='btc-amount'>{{ __("Available") }}:&nbsp;<span id='unspent-confirmed'>?</span>&nbsp;BTC</div>
          <div class='btc-amount'>{{ __("Network Fee") }}:&nbsp;<span id='tx-fee'>?</span>&nbsp;BTC<span class='help-fee'>{{ __("What's this?") }}</span></div>
        </div>
        <div class='app-section wait'>
          <img class='spinner' src='/images/code-loading.png'>
        </div>
        <div class='app-section unconfirmed'>
          <div>{{ __("You have pending transactions. Please wait at least 10 minutes and then try again.") }}</div>
        </div>
        <div class='app-section'>
          <div id='go-bitcoins' class='app-button btac-orange next'>{{ __("NEXT") }}</div>
        </div>
      </div>
    </div>

    <div class='app-page' data-page='bitcoin-address'>
      <div class='app-topbar'>
        <div class='app-title'>{{ __("Send Your Bitcoins") }}</div>
      </div>
      <div class='app-content'>
        <div class='app-section'>
          <div class='instructions'>
            {{ __("Please enter the Bitcoin Address you wish to send to.") }}
            <span class='help'>{{ __("What's this?") }}</span>
          </div>
          <div class='instructions-scan'>
            {{ __("Or hit SCAN QR CODE to use your camera.") }}
          </div>
        </div>
        <div class='app-section'>
          <div id="video" style="width:300px;height:250px"></div>
        </div>
        <div class='app-section'>
          <div id='scan' class='app-button btac-orange next'>{{ __("SCAN QR CODE") }}</div>
        </div>
        <div class='app-section'>
          <div class='instructions'>
            {{ __("ONLY enter an address that YOU CONTROL.") }}
          </div>
        </div>
        <div class='app-section'>
          <input id='bitcoin-address-input' class='app-input bitcoin-address underline' type='text' autofocus placeholder='1MaNdth3n7H1s1SaB17co1NaDdR3sSoKaY'>
        </div>
        <div class='app-section not-a-public-key'>
          <div>{{ __("Error: You have scanned/entered something that is not a Bitcoin Address.") }}</div>
        </div>
        <div class='app-section tx'>
          <div class='btc-amount'>{{ __("Amount") }}:&nbsp;<span id='tx-amount'>?</span>&nbsp;BTC</div>
          <div class='btc-amount'>{{ __("Network Fee") }}:&nbsp;<span id='tx-fee'>?</span>&nbsp;BTC<span class='help-fee'>{{ __("What's this?") }}</span></div>
        </div>
        <div class='app-section sent'>
          <div class='instructions-sent'>
            {{ __("Your bitcoins have been sent. Have a nice day!") }}
          </div>
        </div>
        <div class='app-section self'>
          <div>{{ __("You are attempting to send the bitcoins to the same address you are sending from. This just wastes money.") }}</div>
        </div>
        <div class='app-section sent'>
          <div id='view-tx' class='app-button btac-orange next'>{{ __("VIEW DETAILS") }}</div>
        </div>
        <div class='app-section'>
          <div id='go-bitcoins' class='app-button btac-orange next'>{{ __("SEND YOUR BITCOINS") }}</div>
        </div>
      </div>
    </div>

    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src='/javascripts/app.min.js'></script>
    <script src='/javascripts/html5-qrcode.min.js'></script>
    <script src='/javascripts/jsqrcode-combined.min.js'></script>
    <script src='/javascripts/bitcore-lib.min.js'></script>
    <script src='/javascripts/sweepapp.min.js'></script>
    <script>
      // localized dialogs
      App.sweep.dialogUnconfirmedInputs = {
        title        : '{{ __("You Have Pending Transactions") }}',
        text         : '{{ __("A total of TT_AMOUNT BTC is currently tied up in pending transactions and cannot be sent right now. Would you like to send the rest now or wait?") }}',
        okButton     : '{{ __("Send Now") }}',
        cancelButton : '{{ __("Wait") }}'
      };
      App.sweep.dialogErrorReload = {
        title        : '{{ __("Oops") }}',
        text         : '{{ __("Against all odds, we have encountered a problem.") }}',
        cancelButton : '{{ __("Start Over") }}'
      };
      App.sweep.dialogHelpBitcoinAddress = {
        title        : '{{ __("What is a Bitcoin Address?") }}',
        text         : '{{ __("It is like a bank account number which you can provide to receive bitcoins. It usually starts with a 1 or a 3, is case sensitive, and is about 26-35 characters long.") }}',
        cancelButton : '{{ __("Got it.") }}'
      };
      App.sweep.dialogHelpBitcoinPrivateKey = {
        title        : '{{ __("What is a Bitcoin Private Key?") }}',
        text         : '{{ __("Your private key will be located on your BitAccess paper wallet under the heading “private”. This code is what gives you access to the funds held by the paper wallet.") }}',
        cancelButton : '{{ __("Got it.") }}'
      };
      App.sweep.dialogHelpFee = {
        title        : '{{ __("What is a Network Fee?") }}',
        text         : '{{ __("All Bitcoin transactions must include a small fee which is collected by the participants in the Bitcoin network.") }}',
        cancelButton : '{{ __("Got it.") }}'
      };
      App.sweep.textFinishedTitle = '{{ __("Finished") }}';
    </script>
  </body>
</html>
