
<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>Backup Paper Wallet into iPhone | Bitaccess.co</title>
  <meta name="description" content="Bitaccess Paper Wallet Backup">
  <meta name="keywords" content="Bitaccess Paper Wallet Backup">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/backup_assets/img/apple-touch-icon.jpg">
  <link rel="apple-touch-icon" sizes="72x72" href="/backup_assets/img/apple-touch-icon-72x72.jpg">
  <link rel="apple-touch-icon" sizes="114x114" href="/backup_assets/img/apple-touch-icon-114x114.jpg">
  <link rel="stylesheet" type="text/css" href="/backup_assets/css/custom-animations.css" />
  <link rel="stylesheet" type="text/css" href="/backup_assets/css/lib/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/backup_assets/css/style.css" />

  <!--[if lt IE 9]>
    <script src="/backup_assets/js/html5shiv.js"></script>
    <script src="/backup_assets/js/respond.min.js"></script>
  <![endif]-->
</head>

<body id="landing-page" class="landing-page">
  <!-- Preloader -->
  <div class="preloader-mask">
    <div class="preloader"><div class="spin base_clr_brd"><div class="clip left"><div class="circle"></div></div><div class="gap"><div class="circle"></div></div><div class="clip right"><div class="circle"></div></div></div></div>
  </div>

  <!-- Header -->
  <header>
    <nav class="navigation navigation-header">
      <div class="container">
        <div class="navigation-brand">
          <div class="brand-logo">
            <a href="./" class="logo"></a><a href="./" class="logo logo-alt"></a>
          </div>


            <h4 class="align-center">Import your Paper Wallet into Breadwallet for iPhone</h4>


        </div>
      </div>
    </nav>
  </header>


  <div id="hero" class="static-header light-text clickthrough-version clearfix">
    <div class="overlay"></div>
    <div class="heading-block align-center centered-block">
      <div class="container">
        <div class="navigation-brand">
          <div class="brand-logo">
            <a href="./" class="logo"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="process" class="section process-section align-center dark-text">
    <div class="container">

      <div class="col-sm-4 section-content row">
        <div class="align-center animated" data-duration="500" data-animation="fadeInRight">
          <img src="/backup_assets/img/iphone/install.png"/>
        </div>
        <div class="align-center animated" data-duration="500" data-animation="fadeInLeft">
          <br/><br/>
          <article>
            <h4><span class="highlight-blue">Step 1</span><br/><br/>Download App</h4>
            <p class="sub-title">- Download and install Breadwallet from the <a class="highlight-blue" href="https://itunes.apple.com/app/breadwallet/id885251393" target="_blank">Breadwallet</a> app from Apple App Store</p>
            <p class="sub-title">- Open the app and click on new wallet</p>
          </article>
        </div>
      </div>

      <div class="col-sm-4 section-content row">
        <div class="align-center animated" data-duration="500" data-animation="fadeInRight">
          <img src="/backup_assets/img/iphone/generate1.png"/>
        </div>
        <div class="align-center animated" data-duration="500" data-animation="fadeInLeft">
          <br/><br/>
          <article>
            <h4><span class="highlight-blue">Step 2</span><br/><br/>Create Recovery Phrase</h4>
            <p class="sub-title">- Write down your recovery phrase and keep it somewhere safe. No company can ever recover this phrase for you.</p>
          </article>
        </div>
      </div>

      <div class="col-sm-4 section-content row">
        <div class="align-center animated" data-duration="500" data-animation="fadeInRight">
          <img src="/backup_assets/img/iphone/generate2.png"/>
        </div>
        <div class="align-center animated" data-duration="500" data-animation="fadeInLeft">
          <br/><br/>
          <article>
            <h4><span class="highlight-blue">Step 3</span><br/><br/>Save Recovery Phrase</h4>
            <p class="sub-title">- Write your Recovery Phrase and save it for recovery in future.</p>
          </article>
        </div>
      </div>

      <div class="clearfix"></div>
      <br/><br/>

      <div class="col-sm-4 section-content row">
        <div class="align-center animated" data-duration="500" data-animation="fadeInRight">
          <img src="/backup_assets/img/iphone/navigate.png"/>
        </div>
        <div class="align-center animated" data-duration="500" data-animation="fadeInLeft">
          <br/><br/>
          <article>
            <h4><span class="highlight-blue">Step 4</span><br/><br/>Navigate to the Menu</h4>
            <p class="sub-title">- Click on the menu icon on the top left of the screen.</p>
          </article>
        </div>
      </div>

      <div class="col-sm-4 section-content row">
        <div class="align-center animated" data-duration="500" data-animation="fadeInRight">
          <img src="/backup_assets/img/iphone/import.png"/>
        </div>
        <div class="align-center animated" data-duration="500" data-animation="fadeInLeft">
          <br/><br/>
          <article>
            <h4><span class="highlight-blue">Step 5</span><br/><br/>Import Wallet</h4>
            <p class="sub-title">- Click on Import private key button.</p>
          </article>
        </div>
      </div>

      <div class="col-sm-4 section-content row">
        <div class="align-center animated" data-duration="500" data-animation="fadeInRight">
          <img src="/backup_assets/img/iphone/scan.png"/>
        </div>
        <div class="align-center animated" data-duration="500" data-animation="fadeInLeft">
          <br/><br/>
          <article>
            <h4><span class="highlight-blue">Step 6</span><br/><br/>Scan Private Key</h4>
            <p class="sub-title">- Hold your phone over the “private” QR code on the paper wallet so that it can be scanned.</p>
          </article>
        </div>
      </div>

      <div class="clearfix"></div>
      <br/><br/>

      <div class="col-sm-4 section-content row">
        <div class="align-center animated" data-duration="500" data-animation="fadeInRight">
          <img src="/backup_assets/img/iphone/accept.png"/>
        </div>
        <div class="align-center animated" data-duration="500" data-animation="fadeInLeft">
          <br/><br/>
          <article>
            <h4><span class="highlight-blue">Step 7</span><br/><br/>Accept Import</h4>
            <p class="sub-title">- The pop up will show the current balance of the paper wallet. Tap on the amount displayed to accept the import and transfer the amount to your Breadwallet balance.</p>
            <p class="sub-title">- Once imported, the funds can be spent after one confirmation (approximately 10 minutes).</p>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section id="newsletter" class="long-block newsletter-section light-text">
    <div class="container align-center">
      <div class="col-sm-12 col-lg-8" data-animation="fadeInLeft" data-duration="500">
          <h2 class="align-left">Having trouble?</h2>
          <p class="align-left">Please contact <a href="http://www.breadwallet.com" target="_blank">Breadwallet</a> for help. Bitaccess is unable to offer support for third-party wallets.</p>
      </div>
      <div class="col-sm-12 col-lg-4" data-animation="fadeInRight" data-duration="500">
        <form class="form mailchimp-form subscribe-form" style="padding-top: 10px;" method="post">
          <div class="form-group form-inline">
            <a class="btn btn-outline" href="./">Back to home</a>
          </div>
        </form>
      </div>
    </div>
  </section>



  <!--[if lt IE 9]>
    <script type="text/javascript" src="/backup_assets/js/jquery-1.11.3.min.js?ver=1"></script>
  <![endif]-->
  <!--[if (gte IE 9) | (!IE)]><!-->
    <script type="text/javascript" src="/backup_assets/js/jquery-2.1.4.min.js?ver=1"></script>
  <!--<![endif]-->

  <script type="text/javascript" src="/backup_assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/backup_assets/js/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="/backup_assets/js/jquery.appear.js"></script>
  <script type="text/javascript" src="/backup_assets/js/jquery.plugin.js"></script>
  <script type="text/javascript" src="/backup_assets/js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/backup_assets/js/startuply.js"></script>
</body>
</html>
